@model IEnumerable<Alquiler>

@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-md-8">
        <h1 class="header-title">Entregas</h1>
    </div>
    <div class="col-md-4" style="text-align : right;">
        <form id="frmFiltro" asp-action="FilterAlquiler" onsubmit="return jQueryAjaxFiltro(this);" autocomplete="off">
            <label for="fechaInicio">Fecha de inicio:</label>
            <input type="date" id="fechaInicio" name="fechaInicio">

            <label for="fechaFin">Fecha de fin:</label>
            <input type="date" id="fechaFin" name="fechaFin">

            <button type="submit">Buscar</button>
        </form>
    </div>
    <div id="divAll">
        @Html.Partial("_PartialIndex", Model)
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
<script>
    jQueryAjaxFiltro = form => {
        try {
            $.ajax({
                type: "POST",
                url: form.action,
                data: new FormData(form),
                contentType: false,
                processData: false,
                success: function (res) {
                    $("#divAll").html(res.html);
                    alert(res.message);

                    // $('#tableOdln').DataTable({
                    //     language: {
                    //         url: 'https://cdn.datatables.net/plug-ins/1.10.25/i18n/Spanish.json'
                    //     },
                    //     "order": [[4, "asc"]],
                    //     responsive: true
                    // });

                }
            })
        }
        catch (e) {
            console.log(e);
        }
        //Prevent default submit action
        return false;
    }
</script>
